.window.console .window_content {
  font-family: OfficeCodePro;
  background: #EFEFEF;
}

.ps1 {
  color: #AAAAAA;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
