{{page-title 'Ember File Upload'}}

<nav class='container'>
  <ul>
    <li>
      <LinkTo @route='application'>Ember File Upload</LinkTo>
    </li>
    <li>
      <LinkTo @route='docs'>Documentation</LinkTo>
    </li>
  </ul>
</nav>

{{outlet}}
