{{page-title 'ember-file-upload'}}

<nav class='container'>
  <ul>
    <li>
      <LinkTo @route='application'>ember-file-upload</LinkTo>
    </li>
    <li>
      <LinkTo @route='docs'>Documentation</LinkTo>
    </li>
  </ul>
</nav>

{{outlet}}