{{page-title 'Ember File Upload'}}

<nav class='container'>
  <ul>
    <li>
      <LinkTo @route='application'>Ember File Upload</LinkTo>
    </li>
    <li>
      <LinkTo @route='docs'>Documentation</LinkTo>
    </li>
    <li>
      <DocfyOutput @scope='api' as |node|>
        {{!-- Dynamically link to first API page --}}
        {{#let node.children.[0].pages.[0] as |page|}}
          <DocfyLink @to={{page.url}}>API Reference</DocfyLink>
        {{/let}}
      </DocfyOutput>
    </li>
  </ul>
</nav>

{{outlet}}
