<header>
  <div class='container'>
    <h1>Ember File Upload</h1>

    <p>A file upload framework for Ember apps.</p>

    <p>
      <code>ember install ember-file-upload</code>
    </p>

    <p>
      <LinkTo @route='docs' role='button' aria-label='Documentation'>
        Get Started
      </LinkTo>
    </p>
  </div>
</header>

{{! <main class='container'>
  Samples here?
</main> }}
