---
language: node_js
node_js:
  - "4"

sudo: false

addons:
  code_climate:
    repo_token:
      secure: "bLudtldQHh+CPbrPCaPQaW3xTmpnCEo79j9Wm42FCx+eXadNI8kctK6L16Zvt+CgawqNsoFXxMsHLYrWMZVC7xi070TuSuRHwJ330VzlwbLYhTLXI2tGH1QcF8IJLcq4L2knym6rANOiLKMQ2wdk1J7WqYzmrit6R7UgTfi9gp0W9Qmr/ajj3aslJmHNMIVUt2WbRPzWldyG7iDTs4750z0Iane7m2I2Mu9Fu1iN1ahVaYrx40QT4geKst56+CYYY/R6W/3QtuIfFgXm4YOMdxANFZCTWl7emPWSauYlhWxTq8ngBnl5huzjBs3fzH3d9K3dVVsmQLtGRzZjdlhUzUyMaJEw+SRjhhOO7dHgySwT5PaVMxkuGs44VCpEJMLXbYWyK5nwTCwp7kA/5FA71Rq5LKLUrFon15t78lf3n5E2bb0rmboImEByQ/HWsW510zL3VNDQ3khH/TOLwU1PYTVuyNtLZbzaQenTbsA6H9mh3ZShqAGnnevdC1iqSm/MDyJk+Acm9lEIG7jkULcwsTwjSexVLBCj5pqD0LH4IAO9uYuDARCjSf3pWCwOPf2G0q+zLgWKvoDPYrDow2PhI49PFChp9iy1jm/tbCTZJSMBVLzte85WT8onoBBRGNsQkiAs4tkKGdEbO6M8TdCAW1muYJgpC2NFI1UYMgi+zME="

cache:
  yarn: true

env:
  # we recommend testing LTS's and latest stable release (bonus points to beta/canary)
  - EMBER_TRY_SCENARIO=ember-1.13
  - EMBER_TRY_SCENARIO=ember-lts-2.4
  - EMBER_TRY_SCENARIO=ember-lts-2.8
  - EMBER_TRY_SCENARIO=ember-release
  - EMBER_TRY_SCENARIO=ember-beta
  - EMBER_TRY_SCENARIO=ember-canary

matrix:
  fast_finish: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-canary

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - yarn global add phantomjs-prebuilt
  - yarn global add bower
  - phantomjs --version

install:
  - yarn install --no-lockfile
  - bower install

after_success:
  - yarn global add codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/lcov.info

script:
  # Usually, it's ok to finish the test scenario without reverting
  #  to the addon's original dependency state, skipping "cleanup".
  - COVERAGE=true node_modules/.bin/ember try:one $EMBER_TRY_SCENARIO test --skip-cleanup
