<div
  ...attributes
  {{this.dragListener
    dragenter=this.didEnterDropzone
    dragleave=this.didLeaveDropzone
    dragover=this.didDragOver
    drop=this.didDrop
  }}
  {{this.bindListeners}}
>
  {{yield
    (hash supported=this.supported active=this.active)
    this.queue
  }}
</div>
