{{!-- <DocsHero
  @logo="ember"
  @slimHeading="File"
  @strongHeading="Upload"
  @byline="A file upload framework for Ember apps."
/> --}}

<div class="docs-container docs-md">
  <section class="max-w-md mx-auto">
    <DemoUpload @files={{@model}} />
  </section>
</div>