<div class="window_chrome">
  <span class="close button"></span>
  <span class="minimize button"></span>
  <span class="maximize button"></span>
  {{title}}
</div>
<div class="window_content">{{yield this}}</div>
