.demo-dropzone {
  .dropzone-upload-area {
    border: 4px dotted #BBB;
    border-radius: 10px;
    height: 300px;
    &.active {
      border-color: rgb(41,253,54);
    }
  }
  a {
    text-decoration: underline;
  }
}

.demo-uploaded-files-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    list-style: none;
    width: 33.333%;

    .card {
      img, video {
        margin: 0 auto;
        min-width: 100%;
        max-width: 100%;
      }
      width: calc(100% - 20px);
      margin: 0 auto;
      padding: 10px;
      .caption {
        font-size: 0.8rem;
        padding: 3px;
        border-radius: 4px;
        background-color: #000;
        color: #fff;
      }
    }
  }
}

.emoji {
  font-size: 80px;
  text-align: center;
  padding-top: 40px;
  pointer-events: none;
  -webkit-select: none;
}
