@import 'fonts';
@import 'colors';
@import 'code';
@import 'grid';

@import 'pod-styles';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: OfficeCodePro, Consolas, Inconsolata, monspace;
  background: linear-gradient(#FFFFFF, #FFFFFF 50%, $primary-color 50%, $primary-color);
}

header {
  background: $primary-color;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  padding: 20px 50px;

  h1 {
    width: 40%;
    display: inline-block;
    font-size: 18px;
    margin: 0;

    a {
      color: $white;
      text-decoration: none;
    }

    svg {
      position: relative;
      top: 2px;
      path {
        fill: $white;
      }
    }
  }

  svg {
    -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
  }

  nav {
    width: 60%;
    display: inline-block;
    text-align: right;

    a {
      color: #FFF;
      text-decoration: none;
      margin-left: 40px;

      transition: all 0.25s;
      opacity: 0.7;

      &:hover, &.active {
        opacity: 1;
      }
    }
  }
}

section {
  margin: 0 auto;

  & > h2 {
    padding: 30px 0;
    margin: 40px 0;
  }
}

main {
  background: #FFFFFF;
}

p {
  line-height: 1.5em;
  padding-bottom: 1.5em;
}

h2 {
  padding-bottom: 30px;
  font-size: 1.2em;
  text-align: center;
  border-bottom: 1px solid #D8D8D8;
}

hr {
  border: 0;
  border-bottom: 1px solid #D8D8D8;
}


pre, pre.hljs {
  font-family: 'OfficeCodePro';
  font-size: 14px;
  background: #FAFAFA;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  padding: 20px;
}


::selection {
  background: #A9F76E;
}
::-moz-selection {
  background: #A9F76E;
}

a {
  cursor: pointer;
}

.emoji {
  font-size: 80px;
  text-align: center;
  padding-top: 40px;
  pointer-events: none;
  -webkit-select: none;
}

.dropzone {
  margin: 0 auto;
  max-width: 500px;
}