code {
  font-family: OfficeCodePro;
  font-size: 15px;

  &.inline {
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 0 4px;
  }

  .helper {
    color: $green;
  }

  .string {
    color: $red;
  }

  .literal {
    color: $blue;
  }

  .attribute {
    color: $pink;
  }
}
