@font-face {
  font-family: 'OfficeCodePro';
  src: url('/assets/fonts/OfficeCodePro-Regular.eot');
  src: url('/assets/fonts/OfficeCodePro-Regular.eot') format('embedded-opentype'),
    url('/assets/fonts/OfficeCodePro-Regular.woff') format('woff'),
    url('/assets/fonts/OfficeCodePro-Regular.ttf') format('truetype'),
    url('/assets/fonts/OfficeCodePro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Medium.eot');
  src: url('/assets/fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Lato-Medium.woff2') format('woff2'),
    url('/assets/fonts/Lato-Medium.woff') format('woff'),
    url('/assets/fonts/Lato-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-MediumItalic.eot');
  src: url('/assets/fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Lato-MediumItalic.woff2') format('woff2'),
    url('/assets/fonts/Lato-MediumItalic.woff') format('woff'),
    url('/assets/fonts/Lato-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
