<div
  ...attributes
  {{drag-listener
    dragenter=this.didEnterDropzone
    dragleave=this.didLeaveDropzone
    dragover=this.didDragOver
    drop=this.didDrop
  }}
  {{update-queue
    this.queue
    accept=@accept
    multiple=@multiple
    disabled=@disabled
    onFileAdd=this.onFileAdd
  }}
>
  {{yield
    (hash supported=this.supported active=this.active valid=this.valid)
    this.queue
  }}
</div>
