#index {
  .hero {
    position: relative;
    font-size: 2.3rem;
    background: linear-gradient($primary-color, $secondary-color);
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    height: 60vh;
    min-height: 250px;
    overflow: hidden;

    p {
      transition: all 120ms;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -60%);
              transform: translate(-50%, -60%);
      line-height: 1.7em;
      width: 500px;
      text-align: center;
      font-weight: bold;
    }

    svg {
      transition: all 120ms;
      height: 50px;
      width: 120px;
      position: relative;
      top: 4px;
      -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
              filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
    }

    .more {
      position: absolute;
      bottom: 0px;
      width: 100%;
      left: 0;
      right: 0;
      height: 50px;
      text-align: center;
      z-index: 10;

      svg {
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -30px;
        width: 64px;
        height: 26px;
        transition: all 0.25s ease-in-out;
        opacity: 0.7;
      }

      &:hover svg {
        opacity: 1;
      }
    }

    &:after {
      content: ' ';
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30px;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    }
  }
}

@media (max-width: 600px) {
  #index .hero {
    font-size: 32px;
    p {
      width: 360px;
    }
    svg {
      width: 108px;
      height: 45px;
    }
  }
}

@media (max-width: 400px) {
  #index .hero {
    font-size: 28px;
    p {
      width: 340px;
    }
    svg {
      width: 96px;
      height: 40px;
    }
  }
}

@media screen and (max-height: 400px) {
  #index .hero {
    font-size: 32px;
    svg {
      width: 108px;
      height: 45px;
    }
  }
}

@media screen and (max-width: 330px) {
  #index .hero {
    font-size: 28px;
    height: calc(100vh - 84px);
    p {
      width: 100vw;
    }
    svg {
      width: 96px;
      height: 40px;
    }
  }
}
