@keyframes float {
  0% {
    top: -10px;
  }
  50% {
    top: 0px;
  }
  60% {
    top: -4px;
  }
  100% {
    top: -10px;
  }
}

@keyframes pulse {
  10% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  90% {
    opacity: 1;
  }
}

#index {
  #saucers {
    position: absolute;
    z-index: 10;
    left: 40px;

    svg {
      animation: pulse 2s infinite;
      position: absolute;
      left: -4px;
      top: -29px;
    }

    img {
      position: absolute;
      animation: float 10s infinite;
      max-width: 20px;

      &:nth-child(10n + 1) {
        left: 0;
        animation-delay: -3s;
        transform: rotate(-40deg);
      }
      &:nth-child(10n + 2) {
        left: 30px;
        animation-delay: -9s;
        transform: rotate(40deg);
      }
      &:nth-child(10n + 3) {
        left: -30px;
        animation-delay: -7s;
        transform: rotate(-40deg) translateY(40px);
      }
      &:nth-child(10n + 4) {
        left: 50px;
        animation-delay: -1s;
        transform: rotate(20deg) translateY(40px);
      }
      &:nth-child(10n + 5) {
        left: -40px;
        animation-delay: -5s;
        transform: rotate(10deg) translateX(60px);
      }
    }
  }
  .hero {
    position: relative;
    font-size: 2.3rem;
    background: linear-gradient($primary-color, $secondary-color);
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    height: 60vh;
    min-height: 250px;
    overflow: hidden;

    p {
      transition: all 120ms;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -60%);
              transform: translate(-50%, -60%);
      line-height: 1.7em;
      width: 500px;
      text-align: center;
      font-weight: bold;
    }

    svg {
      transition: all 120ms;
      height: 50px;
      width: 120px;
      position: relative;
      top: 4px;
      -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
              filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
    }

    .more {
      position: absolute;
      bottom: 0px;
      width: 100%;
      left: 0;
      right: 0;
      height: 50px;
      text-align: center;
      z-index: 10;

      svg {
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -30px;
        width: 64px;
        height: 26px;
        transition: all 0.25s ease-in-out;
        opacity: 0.7;
      }

      &:hover svg {
        opacity: 1;
      }
    }

    &:after {
      content: ' ';
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30px;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    }
  }

  .window-pane.upload {
    header {
      border-bottom: 1px solid darken($secondary-color, 7%);
    }

    header, & > div {
      background: $secondary-color;
      color: $black;
      text-align: center;
      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      list-style: none;
      width: 33.333%;

      .card {
        img {
          margin: 0 auto;
          min-width: 100%;
        }
        width: calc(100% - 20px);
        margin: 0 auto;
        padding: 10px;
        .caption {
          font-size: 0.8rem;
          background: $black;
          color: $white;
          padding: 0 2px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #index .hero {
    font-size: 32px;
    p {
      width: 360px;
    }
    svg {
      width: 108px;
      height: 45px;
    }
  }
}

@media (max-width: 400px) {
  #index .hero {
    font-size: 28px;
    p {
      width: 340px;
    }
    svg {
      width: 96px;
      height: 40px;
    }
  }
}

@media screen and (max-height: 400px) {
  #index .hero {
    font-size: 32px;
    svg {
      width: 108px;
      height: 45px;
    }
  }
}

@media screen and (max-width: 330px) {
  #index .hero {
    font-size: 28px;
    height: calc(100vh - 84px);
    p {
      width: 100vw;
    }
    svg {
      width: 96px;
      height: 40px;
    }
  }
}
