<header>
  <h1>{{inline-svg 'icon'}} ember-plupload</h1><nav>
    <a href="#docs">Docs</a>
    <a href="#recipes">Recipes</a>
    <a href="#aws-integration">AWS Integration</a>
    <a href="https://github.com/tim-evans/ember-plupload" target="__blank">GitHub</a>
  </nav>
</header>

<div class="hero">
  <p>A file upload framework <br>for <img class="ember-logo" alt="ember" src="assets/images/ember-logo.png" /> apps</p>
  <a class="more" href="#installation">{{inline-svg 'arrow'}}</a>
</div>

<main>
  <section id="installation">
    <h2>Installation</h2>
    {{#console-window}}
      <span class="ps1">$ </span>ember install ember-plupload
    {{/console-window}}
  </section>

  <section id="usage">
    <h2>Usage</h2>
    <div class="grid">
      <div class="half">
        <p>To start using ember-page-title, add the name of your application into <code class="inline">application.hbs</code></p>
        <p>This sets the title for your application. When your application loads, you should see the title &ldquo;{{model.title}}&rdquo; appear in the window. Try changing the value below to change the title of this page.</p>
      </div>
    </div>

    <div class="grid">
      <div class="half">
        <p>By default, using the helper will allow an interaction where additional titles are appended to the root:</p>
      </div>
    </div>
  </section>
</main>