{{docs-hero
  logo="ember"
  slimHeading="File"
  strongHeading="Upload"
  byline="A file upload framework for Ember apps."
}}

<div class="docs-container docs-md">
  <section class="max-w-md mx-auto pb-4">
    <div class="my-16 text-center">
      {{#link-to
        route="docs"
        class="bg-grey-darkest hover:bg-black text-white py-2 px-4 no-underline rounded"
      }}
        Get started →
      {{/link-to}}
    </div>
  </section>

  <section class="max-w-md mx-auto">
    <DemoUpload @model={{@model}}/>
  </section>
</div>