{{docs-hero
  logo='ember'
  slimHeading='File'
  strongHeading='Upload'
  byline='A file upload framework for Ember apps.'}}

<div class='docs-container docs-md'>
  <section class='max-w-md mx-auto pb-8'>
    <div class="my-16 text-center">
      {{#link-to 'docs' class='bg-grey-darkest hover:bg-black text-white py-2 px-4 no-underline rounded'}}
        Read the docs →
      {{/link-to}}
    </div>
  </section>
</div>