#index {
  .hero {
    position: relative;
    font-size: 42px;
    background: linear-gradient($primary-color, $secondary-color);
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    height: 60vh;
    overflow: hidden;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -60%);
              transform: translate(-50%, -60%);
      line-height: 1.7em;
      width: 500px;
      text-align: center;
    }

    .ember-logo {
      height: 50px;
      position: relative;
      top: 4px;
    }

    .more {
      position: absolute;
      bottom: 0px;
      width: 100%;
      left: 0;
      right: 0;
      height: 50px;
      text-align: center;
      z-index: 10;

      svg {
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -30px;
        width: 64px;
        height: 26px;
        transition: all 0.25s ease-in-out;
        opacity: 0.7;
      }

      &:hover svg {
        opacity: 1;
      }
    }

    &:after {
      content: ' ';
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30px;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    }
  }

  input {
    font-family: Lato, Helvetica, 'Helvetica Neue', Arial;
    font-size: 16px;
    border: 0;
    width: calc(100% - 10px);
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid #333;
    border-radius: 0;
    transition: all 0.1s ease-in-out;

    &:focus {
      outline: none;
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
    }
  }
}

@media (max-width: 600px) {
  #index .hero {
    font-size: 32px;
    p {
      width: 360px;
    }
    .ember-logo {
      height: 36px;
    }
  }
}

@media (max-width: 400px) {
  #index .hero {
    font-size: 28px;
    p {
      width: 340px;
    }
    .ember-logo {
      height: 32px;
    }
  }
}

@media screen and (max-height: 400px) {
  #index .hero {
    font-size: 32px;
    p {
      width: 335px;
    }
    .ember-logo {
      height: 36px;
    }
  }
}

@media screen and (max-width: 330px) {
  #index .hero {
    font-size: 28px;
    height: calc(100vh - 84px);
    p {
      width: 100vw;
    }
    .ember-logo {
      height: 32px;
    }
  }
}