name: Website CI

on:
  push:
    branches:
      - master
  pull_request:

env:
  NODE_VERSION: '22.x'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: wyvox/action-setup-pnpm@v3
        with:
          node-version: '${{ env.NODE_VERSION }}'

      - name: Lint
        run: pnpm --filter website lint
